[2021-06-22 12:53] janosdre opened #1 "Remember settings"
The application does not seem to remember the settings. So when I go back to my desk, I have to set up the transitions again. It would be great if Cursr remembered the monitor and settings.

[2021-06-22 14:13] ragauskl commented on #1
Currently Cursr should remember settings as long as the desktop setup does not change, both on restart and after sleep.  If you did not change desktop setup and settings still did not stay saved, then it would be useful to know what Operating System you have and get a screenshot of Cursr application running on your system, also does it happen after restart/shutdown or sleep? if needed I might ask

[2021-07-01 09:17] ragauskl commented on #1
@janosdre Quick update, fix will be coming out in release 1.3.0, approximately in 1 weeks time

[2021-07-08 16:25] ltd opened #2 "I want a 3rd edge (at least in one direction)"
### Describe the Issue
Love the app,  I find myself hitting the wall on one edge that I wish I could join an existing pairing.  I know it really complicates things because I'm not sure if expected cursor movement in both directions would be the same.
### Additional context
<img width="622" alt="Cursor_and_Cursr" src="https://user-images.githubusercontent.com/67152/124957838-806d0580-dfe7-11eb-8845

[2021-07-09 13:17] ragauskl commented on #2
Something similar could be achieved when custom ratio border linking will be available, as right now it's just 1:1. There's still is list of tasks before that but it will be coming out this summer likely. With that you could do something like this:

![image](https://user-images.githubusercontent.com/9280160/125081310-87bb0e80-e0ce-11eb-84ae-e4d7dc9878d1.png)

Alternatively a feature could be added

[2021-07-10 19:01] ltd commented on #2
ratio board linking is what i want, thanks

[2021-07-13 17:55] chrisslyherin opened #3 "I can't minimize the main screen. Minimize button doesn't work"
### When you click the minimize button, it doesn't do anything, the window remains open.

### Macbook
 - Macbook air m1 - Big Sur 11.4
 - Cursr Version: 1.2.0

[2021-07-14 02:32] cmot17 opened #4 "Monitors should be displayed as actual size and respect scaling, this will prevent strange behavior"
### Describe the Bug/Issue

I have 3 27" monitors. The center one is 2560x1440, and the left and right ones are 3840x2160. The center monitor is slightly raised relative to the others, something like this:
![image](https://user-images.githubusercontent.com/25753364/125550724-67f25c97-1b34-4bed-8647-bbdcba66aa60.png)

However, windows handles this poorly and it shows up like this in display setting

[2021-07-14 21:27] ragauskl commented on #4
Noted, thanks for reporting that, I have couple things left for release of 1.3.0 and I'll look into this for version 1.4.0

[2021-07-17 17:39] trapexit opened #5 "Arrangement of displays don't line up"
### Describe the Bug/Issue

I've an eclectic setup. 4 1080p monitors all of different physical sizes. 1 4K. 1 1920x1200 tablet which runs Win 10 and is being used as monitor via Win10 projection. As can be seen in the attached image the layout doesn't ever seem to line up. It's unclear if that should matter but when attaching edges I can get seemingly buggy results.

### Expected Behavior

**Scree

[2021-07-19 11:30] ragauskl commented on #5
I'll take a look into this, but my testing setup is limited to 3 monitors, so it might be difficult to replicate this.

There has been an issue with underlying 3rd party library from which I am taking display information, where if display is rearranged in certain way, it returns incorrect positioning even if application is restarted. There is a quick way to fix this (if it's the same issue):

* In

[2021-07-21 22:41] trapexit commented on #5
Doesn't appear to have any impact. I did also notice though that when Cursr is showing where the mouse is it is off on screen 3 by what appears to be the offset that it thinks it is at. IE... it thinks it is left more than it is and when the mouse is actually all the way to the left on that monitor Cursr shows it as about half way.

[2021-07-29 13:24] ragauskl commented on #5
@trapexit  I managed to get some buggy behaviour as well when connecting mobile device as screen over spacedesk, so I have something to work with

![image](https://user-images.githubusercontent.com/9280160/127499397-3aa8999c-9137-487f-865d-83d348b543e9.png)
![image](https://user-images.githubusercontent.com/9280160/127499421-492b81e7-b850-4e23-832c-b1cda3a892ba.png)

I will try and fix it today, i

[2021-08-01 00:46] ragauskl commented on #1
@janosdre Sorry for the delay, my schedule turned upside down, but the version 1.3.0 is out now

Application should now remember settings consistently, and also it will allow you to save different setups you've made, it will also generate new setups if matching one was not found based on connected displays

Could you let me know when you have a chance to check it out and see if it now works for yo

[2021-08-01 00:50] ragauskl commented on #3
@chrisslyherin Version 1.3.0 is out now, with it the issue should be gone

I could not reproduce the issue on Mac, but similar one was happening in versions <=1.1.0 so I added some logic to 'force' window hide, hopefully that will fix the issue for you

Could you let me know if it helped or not? I'll close the issue in 2 weeks time if there won't be any comments/complaints by that time

[2021-08-01 00:52] ragauskl commented on #5
@trapexit Version 1.3.0 now available

The positioning should be fixed as I'm using native code to retrieve information (compared to using electron before, which had incorrect positions)

[2021-08-01 12:48] ragauskl opened #6 "Windows: Cursr opens up a window on startup"
On Windows the app no longer opens as 'hidden' when auto launched on startup, I'm working on fixing this issue, which comes from third party library not detecting anymore that app was opened at startup, fix will be released asap in v1.3.1

Meanwhile you can use this solution:

* Open 'Registry Editor'
* Go to 'HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run'
* Right click on 'elect

[2021-08-01 12:50] ragauskl commented on #5
There seems to be new issue which is a bit annoying, app keeps opening on startup, you can find workaround here https://github.com/bitgapp/Cursr/issues/6 while I find a fix for it

[2021-08-03 17:34] ltd opened #7 "unexpected error with upgrade"
### Describe the Bug/Issue
Restarted the app, and now get an "unexpected error" message and no screens, I will uninstall and try a fresh install

### Steps to Reproduce

1. restart the app from 1.2.0

### Expected Behavior

**Screenshots**
<img width="647" alt="Cursr_and_bitgapp_Cursr__Public_repository_for_Cursr_releases_and_discussion_bug_reports" src="https://user-images.githubusercontent.com/6

[2021-08-03 21:00] trapexit commented on #5
![cursr 1 3](https://user-images.githubusercontent.com/197676/128085412-9c09c142-5a90-4af5-be2c-023c585e8a33.png)

[2021-08-03 22:45] ragauskl commented on #5
huh... Okay I'll try and use win10 projection as you mentioned, because electron and same issue with using spacedesk is now out of question/fixed.  Currently I'm using just native windows library... I'll have a look tomorrow

[2021-08-03 23:42] trapexit commented on #5
* 1: 1080p builtin laptop screen
* 2: 4K connected to laptop gpu
* 3: 1080p connected to laptop gpu
* 4: 1080p connected via device hub with DisplayLink
* 5: 1080p connected via same hub
* 6: 1920x1200 via Windows projection / Miracast

![image](https://user-images.githubusercontent.com/197676/128099652-726b0d63-2f5c-401e-9533-869e949e22b1.png)

I don't know if it is related but when I connected t

[2021-08-03 23:57] ragauskl commented on #7
Sorry for the inconvenience

I just tried to update on 2 different Macs and could not get the issue to appear, could you attach here (or send me to email contact@cursr.app ) error log file, should be located in '~/Library/Application Support/cursr/Logs/error.log'

[2021-08-04 00:07] ragauskl commented on #7
And could you also let me know what version of macos you're using and if by any chance your device uses M1 chip? Application now get's display information from native libraries rather than depending on 3rd party due to previous issues, I have a guess there could be a compatibility issue (fixable) with older macos versions or if it runs on M1 chip

[2021-08-04 08:13] ltd commented on #7
I'm on an intel mac, latest os updates
uname -a
Darwin mbp16.local 20.6.0 Darwin Kernel Version 20.6.0: Wed Jun 23 00:26:31 PDT 2021; root:xnu-7195.141.2~5/RELEASE_X86_64 x86_64

2021-07-19T05:04:38.988Z [error] net::ERR_NETWORK_CHANGED Error: net::ERR_NETWORK_CHANGED
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:7068)
    at SimpleURLLoaderWrapper.emit (events.js:31

[2021-08-04 11:13] ragauskl commented on #7
Okay I see where the issue is, I'll release an update today

[2021-08-05 02:53] ragauskl commented on #7
@ltd Should be fixed now! v1.3.1

[2021-08-05 02:54] ragauskl commented on #6
Fixed in v1.3.1

[2021-08-05 02:54] #6 closed

[2021-08-05 17:03] ragauskl commented on #5
I tried various setups including using Windows projection and could not reproduce same issue, so it does not seem to be any specific issue with Win projection/Miracast, could be something to do with amount of displays but rather unlikely.

I'll create a custom build for you today with additional logging and send it over, I'll need you to reproduce both of the issues for the positioning and mouse m

[2021-08-05 18:11] ragauskl commented on #5
I found some weird behaviour with 3rd party package when moving mouse to same position, it's not consistent, I'll fix that up and will send you build then, maybe it will improve/solve mouse issue on your end. Probably tomorrow or day after that

[2021-08-06 13:42] ragauskl commented on #5
@trapexit  I've added some minor changes and logs as mentioned:
[Cursr Installer](https://wormhole.app/WqjE4#cqx4nVVS831rDur1eBM0Hw) (Link available for 24h)

You can just download and run the installer, it will still say v1.3.1 and should preserve all current configurations.

Could you launch the app, reproduce the 2 bugs, and send me app.log file (if you didn't change default location during ins

[2021-08-06 17:42] ragauskl commented on #7
Closing as there were no further comments about the issue

[2021-08-06 17:42] #7 closed

[2021-08-07 18:04] sleepinglion251 opened #8 "MacOS - Identical Monitors issues"
I am using two monitors that are identical to each other. When I do so, I have noticed that whenever I try to select an edge on one of them, it is mapping to the other monitor. Below, any time I try to map an edge on the left vertical monitor, it always maps it to the same edge on the right vertical monitor. When I selected the edge I have circled below to map to the other green edge, it mapped it

[2021-08-07 20:47] ragauskl commented on #8
I might have a clue why it's happening, could I ask you to send me conf.json (should be located under 'C:\Users\\\_user_\AppData\Roaming\cursr' if you haven't changed folder location during installation) to email contact@cursr.app or you can paste it in here, just remove your `clientId` from the file

[2021-08-09 23:43] ltd opened #9 "Still having problem with 1.3.1"
### Describe the Bug/Issue
Unexpected Error on startup

### Steps to Reproduce

1. Go to '...'
2. Click on '....'

### Expected Behavior

**Screenshots**
If applicable, add screenshots to help explain your problem.

### Your Environment
 - Mac OS
 - Cursr Version 1.3.1

### Additional Context

error_log
2021-08-09T23:40:41.730Z [critical] SyntaxError: Unexpected token  in JSON at position 550

[2021-08-10 11:38] ragauskl commented on #9
Gotcha, will have a look as soon as I'll be able to, currently on road with car malfunctioning, in best case I'll have it checked out today, in worst if I'll get stuck in day or two

[2021-08-16 19:40] merlinpatt opened #10 "Moving Mouse along Edge from Small to Large Screen Breaks Link"
### Describe the Bug/Issue

The smooth, proportional movement between different size screen breaks when moving along the part of the border that doesn't align.

### Steps to Reproduce

1. Create link between a small border and a large border with the small border on bottom
2. Move mouse upward along small screen's right edge
3. Continuing moving the mouse upward while also moving the mouse rightwa

[2021-08-18 00:51] ragauskl commented on #10
Noted, will try to add fix in release tomorrow of v1.3.2

The fix probably still won't be 100% smooth as it's an issue on all platforms when linking borders that are linked by the OS as well, Cursr sets the new position, but the system keeps overriding it, there's a repeat event in Cursr, but that does not always help and I did not want to add more repeat events to interrupt mouse movement, this o

[2021-08-18 01:35] merlinpatt commented on #10
I think a couple options that could help with the issue would be

- give users the option to control repeating events under advanced settings
- allow a keyboard shortcut to be set to trigger the link action again

[2021-08-19 02:36] ragauskl commented on #10
Good news - it wasn't the bug I thought it was, it was actually a bug within Cursr which is now fixed in v1.3.2 (at least from what I was able to replicate)

Could you let me know if that fixed it for you as well?

In terms of suggestions, there's very little wiggle room for messing with repeating/timeout events, if it happens in >100ms it starts to become very laggy/jumpy looking like. I thought

[2021-08-19 02:40] ragauskl commented on #9
@ltd I've released v1.3.2, could you let me know if the issue is still happening?

If the issue is still happening, send error log again, I've updated logging as well which will provide more information on the issue

[2021-08-19 02:42] ragauskl commented on #8
@sleepinglion251 v1.3.2 is out now with updated display identification, that should resolve the issue.

Could you let me know if the issue has been resolved after update?

[2021-08-19 02:44] ragauskl commented on #5
@trapexit Did you have a chance to run the custom build with additional logging?

If not, then once you will, you'll need to go offline or in 'C:\Users\\\_user_\AppData\Roaming\cursr\conf.json' set 'autoUpdate' to 'false', as v1.3.2 is out now, to avoid auto update which will lose the additional logging and some native code changes in the build I've attached

[2021-08-19 02:46] ragauskl commented on #3
Closing the issue as no further comments have been made after update/fix

[2021-08-19 02:46] #3 closed

[2021-08-19 02:46] ragauskl commented on #1
Closing the issue as no further comments have been made after update/fix

[2021-08-19 02:48] trapexit commented on #5
Apologies. I've not gotten around to doing so. I'll try to do so tomorrow.

[2021-08-19 04:34] ltd commented on #9
here's what I get with 1.3.2
<img width="652" alt="Notification_Center" src="https://user-images.githubusercontent.com/67152/130008143-d31094ec-0a00-4ed8-a51c-4aee72e28cf8.png">

logs/error.log

2021-08-19T04:29:13.070Z [critical] SyntaxError: Failed to parse displays information. Unexpected token x in JSON at position 890 while parsing near '...: "ACI","serial": "\x16","primary": fals...'
    at

[2021-08-19 07:39] e30Birdy opened #11 "1.3.2 doesn't show my monitors anymore"
https://imgur.com/a/f5rRoXG

So i just upgraded to 1.3.2 on Windows 10 and now it isnt showing my monitors anymore to select where i want them attached. Also the upgrading from the app has never worked for me. I manually have to go to the webpage and download the new version.

I also uninstalled completely and reinstalled and rebooted with no change. 1.3.1 worked fine before.

[2021-08-19 07:53] e30Birdy commented on #11
Just reinstalled 1.3.1 and setup is back to working fine again with both my panels showing up.

[2021-08-21 12:35] ragauskl commented on #11
Could I ask you to send me 2 log files located in 'C:\Users\\<user>\AppData\Roaming\cursr\Logs', they may contain some additional information on what's happening. You can add them here or send me over email contact@cursr.app

Issue is likely due to the fact that I've switched to native Windows APIs instead of depending on 3rd party library to get information about displays as it was returning inva

[2021-08-21 13:04] ragauskl commented on #9
Thank you for sending the logs, I've replicated and fixed the issue, got few more things to add to help with other peoples issue and will release v1.3.3 with the fix in couple days

[2021-08-21 13:52] e30Birdy commented on #11
For sure. Gimme a little and I will send

[2021-08-21 14:19] e30Birdy commented on #11
Both log files are empty. What is funny though is it also doesn't open the app window as of 1.3.2. It opens in taskbar but in previous versions it actually opens the screen to show the monitors and their connection like it did previously.

[2021-08-21 15:12] ragauskl commented on #11
Ahh fun fun fun :D fix one issue and then 5 arise

Okay I'll look into that as well, will release next version with increased logging, that should definitely populate the logs , will let you know as soon as it's out

[2021-08-21 21:02] e30Birdy commented on #11
That would be great

[2021-08-23 01:42] ragauskl commented on #11
I've made custom build [download](https://drive.google.com/file/d/1cj28Jw3eveiMlLL-OCO0yms5gPR_0-kT/view?usp=sharing) for debugging , could you run installer  (no need to uninstall previous cursr version) and try to launch app then?

Log files should now have something in them, and there will be new file 'native.log'.

I've added small change which unlikely, but might fix the issue, if it by any c

[2021-08-23 05:47] e30Birdy commented on #11
I sent you an email with the log. The "small" change actually did fix the issue here.

[2021-08-23 11:34] ragauskl commented on #11
Perfect, thank you

In terms of the app update not working, what exactly happens?
Does it show notification that update has been downloaded and asks you to  restart the app?
Does the app not start after the restart?

[2021-08-25 01:04] ragauskl commented on #9
v1.3.3 is out now, let me know if release fixed the issue or if it is still present

[2021-08-25 01:08] ragauskl commented on #5
@trapexit  Update, v1.3.3 is out now with 'debug mode' toggle in 'UI > Settings > General Settings'

You no longer need to download that custom build, just enable the 'debug mode' run the app for a bit/reproduce issues, and send me log files from 'C:\Users\\\_user_\AppData\Roaming\cursr\Logs' when you'll have a chance to do so

[2021-08-25 13:06] ltd commented on #9
1.3.3 seems to be working. thanks!

[2021-08-28 07:13] #11 closed

[2021-08-30 12:03] ragauskl commented on #10
@merlinpatt  As there have been no further comments on the issue after the fix, I assume it's solved, I'll keep the issue open for couple more days and will close it if there won't be any new comments on the issue

[2021-08-30 12:03] ragauskl commented on #8
@sleepinglion251 As there have been no further comments on the issue after the fix, I assume it's solved, I'll keep the issue open for couple more days and will close it if there won't be any new comments on the issue by then

[2021-08-30 13:35] sleepinglion251 commented on #8
I ended up changing my setup to an M1 and can't run that many monitors anymore so I don't have a way to test this anymore. Sorry.

[2021-08-30 13:48] merlinpatt commented on #10
That seems to have fixed it so far. Thanks!

(Thought I had responded already, apologies)

[2021-08-30 13:48] #10 closed

[2021-08-30 15:12] ragauskl commented on #8
@sleepinglion251  Understood, I'll close this issue then.

Do you still use Cursr? There's a potential issue with M1, but without M1 I can't test it, I was hoping someone will eventually use Cursr on it, in case you still use Cursr or if it's not working and you'd use it if it was to be fixed on M1, I could release almost ready v1.3.4  which has logs to debug the issue, I would ask for logs after

[2021-09-02 16:47] #8 closed

[2021-09-02 16:54] ragauskl commented on #4
@cmot17 Is the off the screen cursor issue still happening for you in latest version 1.3.3?

As for drawing monitors as actual size, I've added it to 1.4.0 as option, so it will be there once 1.4.0 is complete, in ~ first half of autumn

[2021-09-12 18:09] shipitsteven commented on #1
Having the same issue on `1.3.3`. Launch on Startup setting is not being saved after restarting/quitting the app/shut down. Auto update & Debug are saved though.

[2021-09-13 12:44] ragauskl commented on #1
@shipitsteven Which OS are you using?

Issue you mention is a bit different from original, which was about mouse transition/border link setup/configuration saving, but I'll keep it under this one as people with either issue will likely look here

[2021-09-13 14:16] ragauskl commented on #1
Also could I ask you to double check that if you enable 'launch on startup' now in v1.3.3 and after restart/shut down it's working or not

Asking to double check because I cannot replicate same issue on restart/shut down alone, however I did notice that after app reload due to update - it does get disabled on Windows (haven't checked others yet), for which I'll release a fix shortly

[2021-09-14 00:12] shipitsteven commented on #1
Windows 10

That part is indeed working. Border link setup are saved on restart/quit/shut down on my end

I tried it again today, same issue. Launch on Startup option doesn't get saved on app quit/restart. Thanks for looking into it 🤓🙏🏻

[2021-09-14 20:00] ragauskl commented on #1
Could I ask you to install [v1.3.4 pre-release](https://drive.google.com/file/d/1ovb5yl920FKlOWY25UxRMhpnU5B-oeuD/view?usp=sharing) and see if that works?

If it won't still work then:
* in case it fails to even set 'launch at startup' you will see in-app error notification
* if it won't means issue will be with reigstry entry for launching app on startup getting deleted or disabled

In either cas

[2021-09-20 17:24] ragauskl commented on #1
@shipitsteven I've released new version with some updates/fixes but it's likely it won't fix issue you were having as I cannot reproduce it and test it/have no information on why it's happening.

If the issue still exists for you after update could I ask you to do the steps mentioned in comment above and send me the logs, that would hopefully let me get better idea of what could be causing the iss

[2021-10-16 11:13] ragauskl commented on #1
@shipitsteven I've released v1.3.5 with a fix, could you let me know if it works as expected now?

[2021-11-19 05:50] ms3056 opened #12 "THANK YOU FOR CREATING THIS APP"
### Description
Thank you - so VERY VERY MUCH - for creating this app. I was using DisplayFusion for this capability only - which is a waste for softwar with so many functions - that I didn't need.

This app is so useful - if ANYONE with multiple monitors is not using this app - it is simple - they just don't know they need it.

Thank you!

[2021-11-21 23:43] ragauskl commented on #12
@ms3056 Thank you, I'm really glad you found it useful 😁 Your words made my day, it definitely helps with motivation knowing that this is useful to people as I'm putting all my time in it.

It's still far from complete and there will be more features and improvements coming in future, there's new release (1.4.0) coming out this month with new features, then I'll work on improving existing issues/p

[2021-11-21 23:43] #12 closed

[2021-11-29 03:37] ragauskl commented on #5
There have been no more updates/comments on the issue, therefore it's  been fixed or is no longer relevant, therefore closing the issue. If anyone has this issue again, feel free to comment and reopen the issue.

[2021-11-29 03:37] #5 closed

[2021-11-29 03:41] ragauskl commented on #4
I had to exclude the feature from 1.4.0 (which is live now) due to some issues, but I will be looking into adding it back in soon, in nearest minor version updates

[2021-11-29 03:51] ragauskl commented on #2
@ltd v1.4.0 with mentioned functionality is now live, it is a paid feature however (as have been mention in https://cursr.app since initial release of Cursr)

Cursr has a free time limited trial mode to try out paid features

[2021-11-29 03:51] #2 closed

[2021-11-29 03:52] ragauskl commented on #1
There have been no more updates/comments on the issue for a while, therefore it's been fixed or is no longer relevant, therefore closing the issue. If anyone has this issue again, feel free to comment and reopen the issue.

[2021-11-29 03:52] #1 closed

[2021-11-29 16:04] jacobcxdev opened #13 "'Unexpected error' after launch."
### Describe the Bug/Issue

Cursr experiences an 'unexpected error' immediately after launching, and does not appear to work at all.

### Screenshots
![CleanShot 2021-11-29 at 15 59 40](https://user-images.githubusercontent.com/27970288/143901237-4b9f3794-b3bd-4008-b534-5c732c783a73.png)

### Your Environment
 - OS details: macOS Monterey 12.1 Beta
 - Cursr Version:  1.4.0 (1.4.0)

[2021-11-30 16:32] ragauskl commented on #13
@jacobcxdev I know where the issue is, I've seen it before and fixed it on M1 mac and Hackintosh, I thought at least, looks like it does not work in all environment. It should be a quick fix, I'll release update tomorrow or day after ( as ideally I need to include something more than just this fix so users on other platforms also get an update for a reason)

[2021-12-03 03:58] ragauskl commented on #13
@jacobcxdev v1.4.1 with fix is now released, the app might download itself but as error happens on launch it's possible that app might enter a bad state and it won't check for update, in that case you can download latest version from https://cursr.app or from [Github  Releases (link to .dmg)](https://github.com/bitgapp/Cursr/releases/download/v1.4.1/Cursr.dmg)

Could you let me know if issue is go

[2021-12-03 20:36] jacobcxdev commented on #13
This issue is fixed; thank you.

[2021-12-03 20:36] #13 closed

[2022-01-06 22:16] airtonix opened #14 "can't configure on Fedora 34 Gnome 40"
### Describe the Bug/Issue

Clicking "Open" doesn't result in any reaction.

### Steps to Reproduce

1. Go to https://github.com/bitgapp/Cursr/releases/tag/v1.4.1
2. download the appimage
3. mark the appimage as executable
4. run the appimage
5. see the cursr icon show up in the top icons (you need to have installed some kind of top icons gnome shell extension)
6. Click on the cursr icon
7. select

[2022-01-06 22:18] airtonix commented on #14
Oh, had to run `Reset app position` then `open` for it to show up on one of my monitors.

additionally, running it from terminal :

[code]

[2022-01-06 22:39] airtonix opened #15 "Mouse transitions don't work on Fedora 34 Gnome 40"
### Describe the Bug/Issue

Setup a transition from external monitors to laptop screen, but mouse is still stuck.

### Steps to Reproduce

1. Go to https://github.com/bitgapp/Cursr/releases/tag/v1.4.1
2. download the appimage
3. mark the appimage as executable
4. run the appimage
5. see the cursr icon show up in the top icons (you need to have installed some kind of top icons gnome shell extension

[2022-01-11 21:16] ragauskl commented on #14
@airtonix thank you for the logs, it will be helpful, I'll get to making Cursr compatible with Fedora sometime in first half of this year

I initially made it only for Ubuntu, as it was Linux environment I was most familiar with and from my searches Ubuntu was almost at the top of most popular distributions, also so far there were very few Linux users I did not have time to focus on adding more di

[2022-01-13 05:49] Manwurgelzel opened #16 "Full screen games mess up on screen edge"
When playing full screen games, such as League of Legends, Cursr will cause the mouse to jump all over the place when placed on the edge of the screen next to the second monitor.

[2022-01-14 03:02] ragauskl commented on #16
@Manwurgelzel Yeah, I've experienced same issue when using vertical or horizontal loop on single screen and playing a full-screen game

### Current Solution
Disable Cursr while playing full-screen games, you can do that by using keyboard shortcut `Shift+Alt+D` (set by default, you can always change this in `Settings > Keyboard Shortcuts`), it will enable and disable mouse transitions by Cursr

###

[2022-01-16 01:08] deathernater opened #17 "Mouse Transition Unexpectedly Unidirectional"
### Describe the Bug/Issue
I could only go left to right but not right to left with my screen configuration. Please reference attached video for more information:
https://discord.com/channels/886961548105515068/886961548105515071/932078548116725760

### Expected Behavior
I would expect bi-directional transitions being able to go from one screen edge to another back & forth. I am referring to the y

[2022-01-20 00:43] ragauskl commented on #16
@Manwurgelzel Okay seems like I was wrong/misunderstood the issue described.

From my experience I was having issues with games where cursor controls camera, as when cursor crosses over a link in-game camera calculations mess up as they don't expect the cursor to do that

But I still downloaded League of Legends to check out the problem and it seems like it's a different issue:
* I didn't get curs

[2022-01-20 00:51] Manwurgelzel commented on #16
Ok sounds good

[2022-01-20 00:51] #16 closed

[2022-01-22 08:11] ragauskl commented on #17
Closing issue, fixed with release v1.4.2

[2022-01-22 08:11] #17 closed

[2022-01-22 08:14] ragauskl commented on #14
@airtonix v1.4.1 had a bug that is now fixed in v1.4.2 (fix confirmed by other users), application should open as expected

[2022-01-22 08:14] #14 closed

[2022-01-22 08:22] ragauskl commented on #15
@airtonix Could I ask you to download latest version 1.4.2, when you open the application make sure you enable Cursr as it seems to be disabled in the image you attached

Disabled state is indicated by darkened colour borders and by button (amber colour if disabled) in bottom right corner

![image](https://user-images.githubusercontent.com/9280160/150630701-bb2c7d07-af36-40a1-8306-7b229eeccfd2.png

[2022-02-06 01:08] airtonix commented on #15
Oh

None of that was obvious when using the UI.

Perhaps a UX review would be helpful

[2022-02-06 23:50] ragauskl commented on #15
Well there's two visual indicators that something is wrong
* Paired borders are greyed out/darkened
* Button to disable/enable Cursr has amber colour indicating 'warning' and if you hover it tooltip explains that Cursr transitions are disabled

But I can see how none of that can be obvious if one disables Cursr by accidentally using keyboard shortcut before seeing app in enabled mode, which in mos

[2022-02-06 23:52] #15 closed

[2022-03-20 15:59] cmot17 commented on #4
Hi,
Thanks for all the updates.
It seems like the issues with the cursor going off-screen have been completely resolved for me.
I still can't adjust the size of the monitors, which makes the transitions basically unusable.

Also, I really hope you will reconsider the subscription model. I know there will be a permanent license, but I find a subscription model to be extremely predatory in software

[2022-03-21 00:20] ragauskl commented on #4
# Quick Summary

Monitor resizing - Maybe you're doing something wrong or expect Cursr to work in a way that it's not built to, with latest (but paid) feature of splitting borders into segments to pixel perfect size you can setup transitions to cover 90% of use cases.

Also Windows and Cursr are drawing monitors correctly and exactly as computer sees the monitors - what you'd like to see is nicer

[2022-05-08 08:53] ricardosalta opened #18 "Issue crossing cursor between monitors when CPU maxed out + my remedy"
I've got 50 tabs open in Chrome, lots of extensions, plenty other apps open plus right now I'm also running a backup.

Even without the backup, Cursr was already giving me this problem, and occasionally in other days it happened as well under high cpu load.

While crossing between displays, I gotta do it very slow, or the cursor keeps being "pulled back", literally jumping back in its path. Surely

[2022-05-08 19:32] ragauskl commented on #18
Hey, thanks for submitting an issue for this, this will be helpful and I'll start looking into the issue in upcoming days.

[2022-05-08 20:28] ragauskl commented on #18
Hey, thanks for submitting an issue for this, this will be helpful and I'll start looking into the issue in upcoming days, what I can say now is:

Cursr performance - As Cursr is built using mixed native and web technologies it will unlikely be as performant as purely native solution, so especially when CPU usage is already high, Cursr is more likely to react more slowly, which is why you might se

[2022-05-08 20:37] ragauskl commented on #18
Oh also 'Disable Safety for Transitions' is for a bit different case, sometimes if Cursr feels unresponsive in terms that it does not want to go over a 'linked' border pair as if it's not there, then it might help it - as Cursr has some 'protection' in place to stop it from going crazy in case some positional calculations are wrong. It has happened before where cursor would start moving between li

[2022-05-12 22:50] CallSign-Filter opened #19 "Cannot download from Website"
### Describe the Bug/Issue
Unable to download from the cursr website, may be a hosting issue

### Steps to Reproduce

1. Go to 'https://cursr.app/'
2. Click on 'download for Mac, Intel'

### Expected Behavior

**Screenshots**
![image](https://user-images.githubusercontent.com/18217870/168180001-82664e48-ece2-4e29-8811-f48490d0e19d.png)

### Your Environment
 - OS details: Mac OS Monterrey
 - Cursr

[2022-05-12 22:56] CallSign-Filter commented on #19
It worked on the 3rd attempt, my mistake

[2022-05-12 22:56] #19 closed

[2022-06-16 09:02] robmonte opened #20 "Detect when dragging a window with the mouse"
### Describe the Issue
I'm not sure if this is possible depending on each OS, but it would be helpful if Cursr could know when you're dragging a window versus just moving the mouse by itself. The reason for this is that if you are utilizing a feature like Window Snap in Windows 10/11, or have a program like Rectangle installed on MacOS, Cursr can provide a "padding" on the edge of the screen to le

[2022-06-21 23:35] ragauskl commented on #20
Yeah, I believe it can be detected, that is an annoying issue and also when not dragging - but trying to hit a button or program icon on the edge it's easy to overshoot especially when not being used to Cursr. I had it in my list for a while now just didn't find time to get to it but I will be definitely addressing both of the issues, most likely this year with the release of KVM feature

[2022-07-20 15:50] marcaddeo opened #21 "Cursr doesn't seem to respect Setup priorities"
### Describe the Bug/Issue

When Cursr starts, sometimes (always? I'm unsure), it seems to generate a new Setup and then use that over my pre-defined setup. I've set the priority of my custom setup to `10000`, but it still doesn't seem to get selected.

I have a suspicion that this is related to not getting the license validated in time.

### Steps to Reproduce

1. Open application
2. A 'Generated

[2022-07-20 16:03] ragauskl commented on #21
The priority/order selects lower number over higher

 I've just double checked with couple people what they would think is order of priority and all answered that 1 is higher priority than 10, jist like it is now

But if you have reason why it should be otherwise let me know, I might be missing something

But if you have a setup created it shouldn't try to create new setup, that would be a bug, is

[2022-07-20 16:06] marcaddeo commented on #21
D'oh. Guess that's just my stupid brain not getting priority order correct.

Anyway, I just set my custom Setup to priority `1` and _deleted_ the generated one then quit the app.

When I reopened the app, there was a new generated setup and it was active instead of my priority `1` setup.

[2022-07-20 16:07] ragauskl commented on #21
Well I guess i have additional work then 😅 I'll have it checked out soon and will release an update

[2022-07-22 22:06] ragauskl commented on #21
I think I resolved the issue, logic to wait for license to get loaded was already in place, I think issue was related to the fact that I added logic where if a setup is selected and additional display get's added, if possible Cursr preserves the setup selection instead of creating new one which is useful in some cases, but in this case due to sequence of events that could potentially happen (but I

[2022-07-24 16:42] ragauskl commented on #21
@marcaddeo It should now be working as expected in release v1.4.6, let me know if the issue has been resolved or is it still happening after update

[2022-07-25 14:23] marcaddeo commented on #21
@ragauskl thanks for the quick fixes.

I quit and reopened a bunch of times, and it seems to be mostly solved. However like the 5th time I reopened it, it generated a new setup and it took priority over my own.

[2022-07-25 21:13] ragauskl commented on #21
Okay I see, could I ask you to

* go to settings > general and in there you'll find file icon next to Debug mode toggle
* click on it - it will open log files location
* delete all the files in there
* enable the Debug mode (or leave it on if it was already on)
* close settings and replicate the issue, by relaunching app if needed
* send the log files to me at contact@cursr.app

I'll be able to be

[2022-08-12 18:35] ragauskl commented on #21
@marcaddeo I've just released v1.4.9, issue should be fully resolved now

[2022-08-12 18:39] ragauskl commented on #18
@ricardosalta on Windows Cursr will always have Above Normal priority now, with option to set even higher priority (for highest/realtime priority admin privileges would be required)

In any case anyone will be looking for similar behaviour on macOS or Linux - it is available however Cursr will have to be run with elevated access due to macOS and Linux not allowing app without admin access to eleva

[2022-08-12 18:39] #18 closed

[2022-08-13 08:08] Mathsterk opened #22 "Feature Request: Disable when user-listed application is active"
Just a feature request for disabling mouse transitions when a certain application is active, like a game, since some of them don't cooperate nicely with Cursr.
It could be implemented as a list of executables that disables cursr when they are active or running.

[2022-08-16 21:48] ragauskl commented on #22
@Mathsterk This feature is already added to 'to-do' list and will be coming out, just unfortunately currently I have of list of other tasks with higher priorities so it will take a bit of time (trying to get those done in under 2 months but can't promise anything). You can expect it with next 'minor' version update or very soon after that :)

[2022-08-16 22:02] ragauskl commented on #22
@Mathsterk In meantime you can use keyboard shortcut to quickly enable and disable Cursr when playing a game or using other application that Cursr does not work well with. Default keyboard shortcut is 'Shift+Alt+D' but you can change that in settings

[2022-08-21 16:43] christianbrugger opened #23 "Mouse jumps around when exiting VM Ware capture."
### Describe the Bug/Issue

I have VM Ware on monitor 1, maximized. The mouse is captured and I drag the mouse outside of the VM Ware window to monitor 2. Up to here everything works. Then as soon as I make a left-click the mouse jumps by 20% across the screen. The first screen has 100% zoom, the second 200%, a 1to1 ratio is applied between their border.

### Your Environment
 - Windows 10, 64 bit

[2022-09-05 14:32] ragauskl commented on #23
That's odd, Cursr doesn't do anything on mouse clicks

I'll look into the issue and if possible (if not limited by Windows provided functionality - which shouldn't be the case but not impossible) release a fix with next update on which I'm working at the moment

[2022-09-13 18:07] ragauskl commented on #21
Closing the issue as there were no more comments about the issue after update mentioned above

[2022-09-13 18:07] #21 closed

[2022-09-15 21:03] SirBildigan opened #24 "cursr generates new configs on startup"
### Describe the Bug/Issue
On startup cursr generates new display configurations and selects it be default regardless of priority's set in other configurations

### Steps to Reproduce

1. Launch the app
2. see config is set to "Generated 2 new displays"

### Expected Behavior
I'd expect the configuration I have to be set on startup.

### Your Environment
 - OS details: Windows 10 64-bit (Build 190

[2022-09-15 23:04] ragauskl commented on #24
@SirBildigan Is the issue happening in Free version or Pro version?

I'll try and resolve the issue in upcoming days, but it's possible that I won't be able to reproduce it as not too long ago there was a similar issue https://github.com/bitgapp/Cursr/issues/21 and after resolving that I had no issue with setup selection, in which case it would be helpful if you could send me logs from the app:

*

[2022-09-15 23:56] SirBildigan commented on #24
alright, i sent over some log files to your email. also the version I am using is the pro version.

[2022-09-16 00:02] ragauskl commented on #24
Thank you, I'll let you know as soon as I'll find the issue/will know when I can make a release with the fix

[2022-09-18 08:54] christianbrugger commented on #23
This sounds great. Thank you. Let me know if you need more help reproducing the bug.

Greetings

[2022-09-21 21:00] PsykomantaBrain commented on #24
I've been having the same issue. Played around with the priorities, but it doens't seem to many any difference. I also tried to rename my profile with a leading underscore, so it sorts higher on the list, but that has no effect either.

[2022-09-22 00:25] ragauskl commented on #24
Good news, I have resolved the issue and will release the update tomorrow or day after (If I'll find anything else I can quickly include in the update so it's not just a single bug fix)

[2022-09-24 00:47] ragauskl commented on #22
@Mathsterk As I recently had to make a bug fix and make a new release anyways, I found some time to include this feature as well so it will be available in v1.4.10  ~tomorrow

[2022-09-24 00:49] ragauskl commented on #24
Apologies for delay but it will take another day (worst case 2) as I'm finishing up highly requested 'auto enable/disable' feature testing and I remembered that there's still a bug to fix some people experience where app crashes on update restart

[2022-09-26 07:37] ragauskl commented on #24
@SirBildigan  @PsykomantaBrain Latest update is now live and issue with setup should be gone

[2022-09-26 07:46] ragauskl commented on #22
@Mathsterk As I had some other bug fixes to do asap I decided to also find time to add some version of 'auto disable/enable' , there's no reliable/consistent way to do 'smart' detection of when Cursr should be disabled so I decided not to do it, instead make it simple by allowing user to define list of processes, if one of those processes will be in fullscreen mode and focused by user then cursr w

[2022-09-26 08:03] ragauskl commented on #22
Ah also if you get notification that update is available/downloaded and you restart the app but it does not start, download latest version from [official](https://cursr.app/) page again

Some people had this issue and it should now be resolved in v1.4.10

[2022-09-26 08:14] Mathsterk commented on #22
Thank you for implementing it so fast, it has only been acting up in some full screen applications, so the lack of fancy features or detection doesn't bother me :)
And the update went smoothly, i'll make sure to test it and give some feedback if any issues occur, i'm not sure if i should close this or not, so feel free to close it if you feel like it should be closed.

[2022-09-26 08:20] ragauskl commented on #22
No worries, it's been one of most requested features too so really wanted to get it done

I've linked few more users to this issue, so I'll keep it open for about a week in case anyone will have something to add relating to this issue/feature, but if there won't be any comments I'll close/mark this as done :)

[2022-09-28 18:44] SirBildigan commented on #24
So far it seems to be working flawlessly, hasn't failed to open up my config yet. the new feature for auto disable doesn't seem to work at all for me though.

[2022-09-28 19:08] ragauskl commented on #24
@SirBildigan Could I ask with what process/executable it's not working with? Did you add in settings which processes/executables should trigger Cursr disable when they're fullscreen and focused/active? Due to too many/inconsistent differences in 'fullscreen' modes based on applications I did not include a 'smart' auto detection, so while it's 'auto' disable, you still need to define for which proc

[2022-09-29 19:54] SirBildigan commented on #24
yeah, I added the paths for Halo infinite, Halo MCC, Fallout 4, Final Fantasy xii/xii-2, Skyrim Special edition, Scarlet Nexus, Tales of Arise. none of them would auto disable in either exclusive full screen or borderless.
![image](https://user-images.githubusercontent.com/113640095/193128997-2ac2a6a6-8363-43c8-ae82-231a3fe5ad81.png)

[2022-09-29 20:35] ragauskl commented on #24
Thanks, the setup look alright, only the .exe path is required

I'll test Cursr with mentioned games and see what might be wrong, as so far I only tested with League of Legends as it was mentioned first by other user and one other game I had

I'll close this issue and create a separate one for the auto disable bug

[2022-09-29 20:35] #24 closed

[2022-09-29 20:37] ragauskl opened #25 "Auto-disable not working for some games"
Seems like Cursr auto-disable feature is not working with some games like:

"Halo infinite, Halo MCC, Fallout 4, Final Fantasy xii/xii-2, Skyrim Special edition, Scarlet Nexus, Tales of Arise. none of them would auto disable in either exclusive full screen or borderless."
![image](https://user-images.githubusercontent.com/113640095/193128997-2ac2a6a6-8363-43c8-ae82-231a3fe5ad81.png)

_Originally p

[2022-09-30 14:55] marcusgrando opened #26 "Feature Request: Cursor follow window focus"
When you use more keyboard shortcuts, a considerable problem is taking the mouse cursor and changing the monitor to do something on the same window-focused. Following the window focus for the mouse cursor helps a lot with this problem. I'd like it a lot if it's will be implemented anywhere.

[2022-10-04 20:28] ragauskl commented on #26
@marcusgrando  I can definitely look into it, but I'm not 100% sure I understood issue you're describing as I've never had similar issues, so would like to confirm - do you want to have option where 'window under mouse pointer is always focused/active'? Or if it's something else could you provide a  step-by-step example of how you see it working - so I have better understanding of it?

[2022-10-04 20:29] #22 closed

[2022-10-05 20:50] marcusgrando commented on #26
Hi @ragauskl, What I need is my mouse cursor to follow the window focus. For example, if I switch with CMD+Tab to another window on another monitor, I'd like to mouse follow to that monitor instead to stay on an old window focused.

[2022-10-11 19:52] ragauskl commented on #26
@marcusgrando I see, that should be relatively easy to add, I'll see when can I fit it in - in upcoming months, potentially with the release of KVM feature

[2022-10-25 14:32] drfoland opened #27 "Machine ID is not available"
When I open Cursr in Windows 10, I am unable to view my Machine ID. The Settings > License popup instead shows "Default string" in the field. If I click the copy button, it just copies the text "Default string" to the clipboard. This problem persists even when running it as an administrator. See image below:

![image](https://user-images.githubusercontent.com/21369713/197801510-5cf7124c-4a46-4847-

[2022-11-02 11:14] joker10201023 opened #28 "crashed on macos(M1) many times randomly"
### Describe the Bug/Issue
cursr has crashed on macos(M1) many times

### Steps to Reproduce
I have two monitors, one is 27inch 2K resolution, another is 27 inch 1080 resolution.
1. configure cursr, link 2k res's monitor's right edge with 1080 res's monitor's left edge, so mouse can move between two monitors smoothly.
2. Use the computer normally as before, and cursr will crash randomly.

### Expe

[2022-11-02 11:57] ragauskl commented on #28
@joker10201023 I've just recently resolved this issue, just finishing up some things to include more than just one bug fix in the update, you can expect update with fix to be released in upcoming days

[2022-11-02 12:07] joker10201023 commented on #28
Cheers :-)

[2022-11-02 12:07] #28 closed

[2022-11-02 17:08] ragauskl commented on #27
@drfoland yeah it happened before, for now try using 'Default string' as Machine ID (in cursr.app webpage you can manually generate a license and input machine ID), that's how Cursr sees it and all it does is compares the ID to the one Window gives in this case it's 'Default string'.

 It seems like it's a common issue with some hardware where a serial number is not assigned to it on purpose or by

[2022-11-02 17:20] ragauskl commented on #23
![](https://github.trello.services/images/mini-trello-icon.png) [VMWare git issue](https://trello.com/c/KrMB0Hb0/154-vmware-git-issue)

[2022-11-02 17:23] ragauskl commented on #28
![](https://github.trello.services/images/mini-trello-icon.png) [M1 Cursr crash](https://trello.com/c/DZ5OOzvS/157-m1-cursr-crash)

[2022-11-02 20:18] ragauskl commented on #23
@christianbrugger Apologies for taking a while to resolve this issue, I've added temporary fix to v1.4.11 which I'll release in upcoming days, the mouse should no longer jump around, if issue still persists constantly after v1.4.11 let me know (if you're still using Cursr), the solution is not 100% fail proof, I'll be looking into this issue more for v1.5+ release and I'll also see if I can make C

[2022-11-03 12:24] christianbrugger commented on #23
These are great news. Yes I am still using Cursr. Looking forward to the release.

[2022-11-03 22:29] ragauskl commented on #25
Minor changes and additional logging included in v1.4.11, however I could not replicate the issue when testing with list of games including League of Legends and Halo Infinite, Cursr auto disables as expected

Will keep this issue open for couple months in case anyone will have it and will be able to provide debug logs

[2022-11-03 22:33] ragauskl commented on #24
@SirBildigan I've released version v1.4.11, if Cursr still does not auto disable when running games like Halo Infinite then could I ask you to enable Debug Mode in settings, and replicate the issue, then next to Debug Mode there is 'file' button, if you click it a folder will open - could you send the log files to me at contact@cursr.app , because I tried some of the mentioned games and it worked

[2022-11-15 04:21] SirBildigan commented on #25
I was able to get some of the games to work recently, guess it helps to restart cursr after adding the games to the list or it wont use them.

[2022-11-19 22:38] ragauskl opened #29 "Wayland Desktop Environment support"
Currently only X11 is officially supported, there are plans to add Wayland support in future but there's no specific date, maybe sometime late 2023 as there is a long list of higher priority tasks.

However if this issue get's a lot of interest (leave a thumbs up on issue are a comment) I will increase priority of adding support for Wayland and move it up the to-do list for Cursr

[2022-11-24 23:12] jbzdarkid opened #30 "Cursr does not work while Valorant is running"
### Describe the Bug/Issue
Valorant is a game by Riot which runs as admin. While it's running (even without focus), Cursr has no impact -- borders are treated as windows native settings.

### Steps to Reproduce

1. Install Valorant (https://playvalorant.com/en-us/)
2. Launch Valorant (from the riot client)
3. Run Cursr
4. Suffer

### Expected Behavior

Ideally, Cursr would be able to act while Val

[2022-11-26 18:01] ragauskl commented on #30
@jbzdarkid  That can be fixed by running Cursr as admin as well, this is due to the way Windows works, when something 'runs as admin' other non-admin applications cannot get/listen in on anything happening like mouse moving, therefore Cursr is not reacting, but if you run it as admin as well that will fix it

However Cursr will not work nicely if you're running fullscreen games that use mouse to c

[2022-11-26 18:07] ragauskl commented on #30
Currently Cursr does not have an option to always start up as 'admin' so you'll need to do that manually for now (or create shortcut to Cursr that runs it as admin and place that to Windows startup - will need to google how to do that), but I'll look into adding in option within Cursr in next update or one after that

[2022-11-27 06:41] jbzdarkid commented on #30
I tried to run Cursr as admin but it's still not helping. Even with Valorant minimized, borders are using the windows default.

[2022-11-27 14:13] ragauskl commented on #30
Okay, it works with other games I've tested  so it might have something to do with how the game is written,  I'll download the game and see what could be causing the issue in upcoming days.

Could I ask if you run it in fullscreen mode or borderless? (still can be visually fullscreen but there's different information the window provides that Cursr can see)

[2022-11-27 18:50] jbzdarkid commented on #30
I tried borderless and windowed, it didn't make a difference. Again, the odd thing is that it doesn't work even if it's windowed and minimized.